body {
    background-color: #f4f6f9;
}

.navbar {
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

.table {
    background-color: #fff;
}

.btn {
    border-radius: 8px;
}

.stat-card h3 {
    font-weight: bold;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: gray;
}
